# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Kakao Provider
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# Scheduly의 SECRET (유료 API quota 우회 우려로, 한 계정에 앱이 여러개일 때 다 권한을 허용해주지 않음 ㅠ.ㅠ)
KAKAO_MAP_SECRET=

# Production
PORT=
ORIGIN=

# CDN
PUBLIC_CDN_URL=